{% extends 'layout.html' %}


{% block main %}
<ol class="breadcrumb">
    <li><a href="#">内容首页</a></li>
    <li>添加内容</li>
</ol>



<form action="/admin/content/add" method="post">
    <div class="form-group">
        分类
        <select name="category" id="category" class="form-control">
            {% for category in categories%}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        标题
        <input type="text" class="form-control" name="title" placeholder="请输入标题">
    </div>
    <div class="form-group">
        简介
        <textarea class="form-control" name="description" rows="5"></textarea>
    </div>
    <div class="form-group">
        内容
        <textarea class="form-control" name="content" rows="10"></textarea>
    </div>
    <input type="submit" value="提交">
</form>

{% endblock %}